#{extends 'main.html' /}
#{set title:'Register a New Candidate' /}

<nav class="ui teal inverted menu">
  <a class="ui active item" href="/admin/addcandidate"><i class="plus icon"></i>Add Candidate</a>
  <a class="ui item" href="/admin"><i class="list icon"></i>Report</a>
  <a class="ui item" href="/logout"><i class="sign out icon"></i>Log Out</a>
</nav>
<section class="ui segment">
  <h2>Register new candidates below:</h2>
</section>
<section class="ui form segment">
  <form action="/admin/register" method="POST">
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text" name="firstName">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text" name="lastName">
      </div>
    </div>
    <div class="column">
      <div class="ui selection dropdown">
        <input name="office" type="hidden">
        <div class="default text">Office</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="Vice-President"> Vice-President </div>
          <div class="item" data-value="President"> President </div>
        </div>
      </div>
    </div>
    <br>
    <div>
      <button type="submit" class="ui orange submit button">Submit</button>
    </div>
  </form>
</section>
<script>$('.ui.selection.dropdown').dropdown();</script>