#{extends 'main.html' /}
#{set title:'Login to Admin Account' /}

<nav class="ui teal inverted menu">
  <a class="ui item" href="/"><i class="home icon"></i>Home</a>
  <a class="ui item" href="/signup"><i class="sign up icon"></i>Sign Up</a>
  <a class="ui item" href="/login"><i class="sign in icon"></i>Log In</a>
  <a class="ui active item" href="/adminlogin"><i class="lock icon"></i>Admin Log In</a>
</nav>
<section class="ui segment">
  <p> Administrators Log in here ... </p>
</section>
<section class="ui form segment">
  <form action="/authenticateAdmin" method="POST">
    <div class="field">
      <label> Admin Username: </label>
      <input type="text" name="userName">
    </div>
    <div class="field">
      <label>  Password: </label>
      <input type="password" name="password">
    </div>
    <button class="ui orange submit button">Login</button>
  </form>
</section>