#{extends 'main.html' /}
#{set title:'Admin Report' /}

<nav class="ui teal inverted menu">
  <a class="ui item" href="/admin/addcandidate"><i class="plus icon"></i>Add Candidate</a>
  <a class="ui active item" href="/admin"><i class="list icon"></i>Report</a>
  <a class="ui item" href="/logout"><i class="sign in icon"></i>Log Out</a>
</nav>
<section class="ui segment">
  <table class="ui orange inverted table segment">
    <h2>Users List: <i class="large table icon"></i></h2>
    <thead>
      <tr>
        <th>
          UsaCitizenship:
        </th>
        <th>
          Email:
        </th>
        <th>
          FirstName:
        </th>
        <th>
          LastName:
        </th>
        <th>
          Age:
        </th>
        <th>
          Country:
        </th>
      </tr>
    </thead>
    <tbody>
      #{list items:users, as:'user'}
      <tr>
        <td>
          ${user.usaCitizen}
        </td>
        <td>
          ${user.email}
        </td>
        <td>
          ${user.firstName}
        </td>
        <td>
          ${user.lastName}
        </td>
        <td>
          ${user.age}
        </td>
        <td>
          ${user.country}
        </td>
      </tr>
      #{/list}
    </tbody>
  </table>
</section>
<section class="ui segment">
  <table class="ui orange inverted table segment">
    <h2>Candidates List: <i class="large table icon"></i></h2>
    <thead>
      <tr>
        <th>
          FirstName:
        </th>
        <th>
          LastName:
        </th>
        <th>
          Office:
        </th>
      </tr>
    </thead>
    <tbody>
      #{list items:candidates, as:'candidate'}
      <tr>
        <td>
          ${candidate.firstName}
        </td>
        <td>
          ${candidate.lastName}
        </td>
        <td>
          ${candidate.office}
        </td>
      </tr>
      #{/list}
    </tbody>
  </table>
</section>