#{extends 'main.html' /}
#{set title:'Donation Request' /}
   
<nav class="ui teal inverted menu">
  <a class="ui active item" href="/donation"><i class="money icon"></i>Make Donation</a>
  <a class="ui item" href="/EditDetails"><i class="edit icon"></i>Edit Details</a>
  <a class="ui item" href="/donation/report"><i class="list icon"></i>Report</a>
  <a class="ui item" href="/logout"><i class="sign out icon"></i>Log Out</a>
</nav>
<h2 class="ui center aligned teal header">
  Welcome ${user.firstName}
  <div class="ui teal sub header">Please give generously!</div>
</h2>
<div class="ui fitted horizontal icon divider">
  <i class="money icon"></i>
</div>
<form class="ui form" action="/donation/donate" method="POST">
  <div class="ui four column grid">
    <div class="column">
      <div class="ui selection dropdown">
        <input name="candidateId" type="hidden">
        <div class="default text">Candidate</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          #{list items:candidates, as:'candidate'}
          <div class="item" data-value="${candidate.id}">${candidate.firstName} ${candidate.lastName}</div>
          #{/list}
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui selection dropdown">
        <input name="office" type="hidden">
        <div class="default text">Office</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="Vice-President"> Vice-President </div>
          <div class="item" data-value="President"> President </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui four column grid">
    <div class="column">
      <div class="ui selection dropdown">
        <input name="amountDonated" type="hidden">
        <div class="default text">Amount</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="50">$50</div>
          <div class="item" data-value="100">$100</div>
          <div class="item" data-value="1000">$1000</div>
          <div class="item" data-value="2000">$2000</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui form">
        <div class="grouped inline fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input id="paypal" name="methodDonated" value="paypal"
                checked="checked" type="radio"> <label for="paypal">PayPal</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="direct" name="methodDonated" value="direct"
                type="radio"> <label for="direct">Direct</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui four column grid">
    <div class="column">
      <div class="ui error message"></div>
      <div class="ui orange submit button">Donate</div>
    </div>
  </div>
</form>
<hr>
<h4 class="ui header">Amount of target achieved: </h4>
#{list items:candidates, as:'candidate'}
<div class="ui segment">
  <div class="item" data-value="${candidate.id}">${candidate.firstName} ${candidate.lastName}</div>
  <div class="ui active striped teal progress">
    <div class="bar" style="width:${candidate.progress}%"></div>
    <!--"width:50%" "width:0%" -->
  </div>
</div>
#{/list}
<script>$('.ui.selection.dropdown').dropdown();</script>	
<script src="@{'/public/javascripts/donate.js'}"></script>