#{extends 'main.html' /}
#{set title:'Report' /}

<nav class="ui teal inverted menu">
  <a class="ui item" href="/donation"><i class="money icon"></i>Make Donation</a>
  <a class="ui item" href="/EditDetails"><i class="edit icon"></i>Edit Details</a>
  <a class="ui active item" href="/donation/report"><i class="edit icon"></i>Report</a>
  <a class="ui item" href="/logout"><i class="sign out icon"></i>Log Out</a>
</nav>
<form action="/donation/report/age" method="POST">
  <div class="ui small form segment">
    <i class="sort order large ascending icon"></i>
    <div class="two fields">
      <div class="field">
        <label>Filter Age From:</label>
        <input name="from" placeholder="From" type="number">
      </div>
      <div class="field">
        <label>Filter Age To:</label>
        <input name="to" placeholder="To" type="number">
      </div>
      <button type="submit" class="ui orange small submit button">Submit</button>
    </div>
  </div>
</form>
<br>
<form action="/donation/report/candidate" method="POST">
  <div class="ui small form segment">
    <i class="large filter icon"></i>
    <div class="field">
      <label>Filter Candidate:</label>
      <div class="ui selection dropdown">
        <input name="byCandidate" type="hidden">
        <div class="default text">Candidate</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          #{list items:candidates, as:'candidate'}
          <div class="item" data-value="${candidate.id}">${candidate.firstName} ${candidate.lastName}</div>
          #{/list}
        </div>
      </div>
      <div>
        <br>
        <button type="submit" class="ui orange small submit button">Submit</button>
      </div>
    </div>
  </div>
</form>
<br>
<form action="/donation/report/country" method="POST">
  <div class="ui small form segment">
    <i class="large filter icon"></i>
    <div class="field">
      <label>Filter Country:</label>
      <div class="ui selection dropdown">
        <input name="country" type="hidden">
        <div class="default text">Country</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          #{list items:countries, as:'country'}
          <div class="item" data-value="${country}">${country}</div>
          #{/list}
        </div>
      </div>
    </div>
    <br>
    <button type="submit" class="ui small orange submit button">Submit</button>
  </div>
</form>
<section class="ui segment">
  <table class="ui orange inverted table segment">
    <h2>Donations Report: <i class="large table icon"></i></h2>
    <thead>
      <tr>
        <th>
          Email
        </th>
        <th>
          FirstName
        </th>
        <th>
          LastName
        </th>
        <th>
          Age
        </th>
        <th>
          Country
        </th>
        <th>
          Amount($)
        </th>
        <th>
          Method-Donated
        </th>
        <th>
          Candidate
        </th>
        <th>
          Office
        </th>
      </tr>
    </thead>
    <tbody>
      #{list items:donationFilter, as:'donation'}
      <tr>
        <td>
          ${donation.from.email}
        </td>
        <td>
          ${donation.from.firstName}
        </td>
        <td>
          ${donation.from.lastName}
        </td>
        <td>
          ${donation.from.age}
        </td>
        <td>
          ${donation.from.country}
        </td>
        <td>
          ${donation.received}
        </td>
        <td>
          ${donation.methodDonated}
        </td>
        <td>
          ${donation.to.firstName} ${donation.to.lastName}
        </td>
        <td>
          ${donation.to.office}
        </td>
      </tr>
      #{/list}
    </tbody>
  </table>
</section>
<script>$('.ui.selection.dropdown').dropdown();</script>
  