#{extends 'main.html' /}
#{set title:'Welcome!' /}

<nav class="ui teal inverted menu">
  <a class="ui active item" href="/"><i class="home icon"></i>Home</a>
  <a class="ui item" href="/signup"><i class="sign up icon"></i>Sign Up</a>
  <a class="ui item" href="/login"><i class="sign in icon"></i>Log In</a>
  <a class="ui item" href="/adminlogin"><i class="lock icon"></i>Admin Log In</a>
</nav>
<section class="ui segment">
  <h1>Welcome!</h1>
  <p><i>Homer for president.</i></p>
  <p><i>Time for a change.</i></p>
  <p>Out with boring Abamo!</p>
  <p>Giving has never been so easy.</p>
  <p>Just click <a href="/login">here</a> to log in.</p>
  <p>Then go to the donation page and empty your wallet!</p>
  <img src="/public/images/homer.gif">
</section>
  