#{extends 'main.html' /}
#{set title:'Edit Details' /}

<nav class="ui teal inverted menu">
  <a class="ui item" href="/donation"><i class="money icon"></i>Make Donation</a>
  <a class="ui active item" href="/EditDetails"><i class="edit icon"></i>Edit Details</a>
  <a class="ui item" href="/donation/report"><i class="list icon"></i>Report</a>
  <a class="ui item" href="/logout"><i class="sign out icon"></i>Log Out</a>
</nav>
<section class="ui form segment">
  <i class="edit sign icon"></i>
  <form action="/accounts/changeName" method="POST">
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text" name="firstName">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text" name="lastName">
      </div>
    </div>
    <button class="ui orange submit mini button">Submit</button>
  </form>
  <br>
  <form action="/accounts/changeEmail" method="POST">
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text" name="email">
    </div>
    <button class="ui orange submit mini button">Submit</button>
  </form>
  <br>
  <form action="/accounts/changePassword" method="POST">
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" name="password">
    </div>
    <button class="ui orange submit mini button">Submit</button>
  </form>
  <br>
  <form action="/accounts/changeAge" method="POST">
    <div class="field">
      <label>Age</label>
      <input placeholder="Age" type="number" name="age">
    </div>
    <button class="ui orange submit mini button">Submit</button>
  </form>
  <br>
  <form action="/accounts/changeLocation" method="POST">
    <div class="three fields">
      <div class="field">
        <label>Address line 1</label> 
        <input placeholder="Address Line 1" type="text" name="address">
      </div>
      <div class="field">
        <label>Address line 2</label> 
        <input placeholder="Address Line 2" type="text" name="address">
      </div>
      <div class="field">
        <label>Town/City</label> 
        <input placeholder="Town/City" type="text" name="address">
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label>State</label> 
        <input placeholder="State" type="text" name="address">
      </div>
      <div class="field">
        <label>PostCode</label> 
        <input placeholder="PostCode" type="text" name="address">
      </div>
      <div class="field">
        <label>Country</label> 
        <input placeholder="Country" type="text" name="address">
      </div>
    </div>
    <button class="ui orange submit mini button">Submit</button>
  </form>
  <br>
</section>