#{extends 'main.html' /}
#{set title:'Login to Donate to Abamo' /}

<nav class="ui teal inverted menu">
  <a class="ui item" href="/"><i class="home icon"></i>Home</a>
  <a class="ui active item" href="/login"><i class="sign in icon"></i>Log In</a>
</nav>
<section class="ui segment">
  <p> Log in here ... </p>
</section>
<section class="ui form segment">
  <form action="/authenticate" method="POST">
    <div class="field">
      <label> Email: </label>
      <input type="text" name="email">
    </div>
    <div class="field">
      <label>  Password: </label>
      <input type="password" name="password">
    </div>
    <button class="ui orange submit button">Login</button>
  </form>
</section>