#{extends 'main.html' /}
#{set title:'Logged Out' /}

<nav class="ui teal inverted menu">
  <a class="ui item" href="/login"><i class="sign in icon"></i>Log In</a>
  <a class="ui active item" href="/logout"><i class="sign out icon"></i>Log Out</a>
</nav>
<section class="ui segment">
  <p>Signup or Log in to oust Abamo and elect Homer!  </p>
</section>