#{extends 'main.html' /}
#{set title:'Sign up for Abamo' /}

<nav class="ui teal inverted menu">
  <a class="ui item" href="/"><i class="home icon"></i>Home</a>
  <a class="ui active item" href="/signup"><i class="sign up icon"></i>Sign Up</a>
  <a class="ui item" href="/login"><i class="sign in icon"></i>Log In</a>
</nav>
<section class="ui form segment">
  <form action="/register" method="POST">
    <div class="ui checkbox">
      <input type="checkbox" id="usaCitizen" name="usaCitizen">
      <label for="usaCitizen">Tick to confirm you are a citizen of the USA</label>
    </div>
    <br>
    <br>
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text" name="firstName">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text" name="lastName">
      </div>
    </div>
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text" name="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" name="password">
    </div>
    <div class="field">
      <label>Age</label>
      <input placeholder="Age" type="number" name="age">
    </div>
    <div class="three fields">
      <div class="field">
        <label>Address line 1</label> 
        <input placeholder="Address Line 1" type="text" name="addressLine1">
      </div>
      <div class="field">
        <label>Address line 2</label> 
        <input placeholder="Address Line 2" type="text" name="addressLine2">
      </div>
      <div class="field">
        <label>Town/City</label> 
        <input placeholder="Town/City" type="text" name="townCity">
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label>State</label> 
        <input placeholder="State" type="text" name="state">
      </div>
      <div class="field">
        <label>PostCode</label> 
        <input placeholder="PostCode" type="text" name="postCode">
      </div>
      <div class="field">
        <label>Country</label> 
        <input placeholder="Country" type="text" name="country">
      </div>
    </div>
    <button class="ui orange submit button">Submit</button>
  </form>
</section>